body {
    margin: 0px;
    margin-top: 2cm;
    border: 0px;
    padding: 0px;

    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* Website Background */
.background {
    position: fixed;
    width: 100%;
    height: 100%;

    object-fit: cover;

    top: 0;
    left: 0;
    z-index: -100;
}

/* Website Header */
.header-bar {
    width: 100%;
    height: 1.5cm;

    margin: 0px;
    border: 0px;
    padding: 0.25cm;

    background-color: rgba(0, 0, 0, 0.9);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.header-bar h1 {
    font-size: 0.75cm;
    margin: 0;
    padding: 0;
    padding-top:0px;
    color: white;
}

.header-bar p {
    font-size: 0.5cm;
    margin: 0;
    color: lightslategray;
}

.header-bar img {
    max-width: 50px;
    max-height: auto;
    border-radius: 50%;
}

.header-left {
    padding-right:10px;
}

.header-right {
    width: auto;
}

/* Content Layer 1 */
.top-section {
    width: 100%;
    height: auto;

    margin-top: 3cm;
    margin-bottom: 1cm;

    display: flex;
}

.top-section h1 {
    font-size: 0.75cm;
    color: white;

    margin: 0;
    padding: 0;

    display: block;
}

/* Centered Box with Content */
.centered-content-box {
    width: 85%;
    height: auto;

    justify-content: center;
    align-items: center;

    border-radius: 20px;

    margin: 0;
    margin-left: auto;
    margin-right: auto;

    background-color: rgba(0, 0, 0, 0.7);
}

.centered-content-box h1 {
    color: white;
    font-size: 1cm;

    margin: 10px;
}

.centered-content-box h2 {
    color: lightblue;
    font-size: 0.9cm;
}

.centered-content-box p {
    color: white;
    font-size:0.7cm;
}

.content-box-content {
    display: flex;
    justify-content: center;
    align-items: top;
}

#content-box-1-top {
    width: 100%;
    height: auto;

    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

#content-box-1-left {
    margin: 10px;

    width: 50%;
    height: auto;
}

#content-box-1-right {
    margin: 10px;

    width: 50%;
    height: auto;
}

/* Box Separator */
.content-separator {
    margin: auto;
    border: 0;
    padding: 0;
    width: auto;
    background-color: rgba(0, 0, 30, 1);
    height: 5cm;

    display: flex;
    align-content: center;
    align-items: center;
    flex-direction: column;
}

.content-separator h1 {
    color: white;
    font-size: 1cm;

    margin: 10px;
    margin-top: 20px;
}

.content-separator p {
    color: white;
    font-size:0.7cm;

    margin: 10px;
}

.content-separator-top {
    width: 100%;
    height: auto;

    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.content-separator-content {
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Testimonials Section */
#testimonials {
    width: 100%;
    height: auto;

    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    flex-wrap: wrap;
}

.testimonial-single {
    width: 5cm;
    height: auto;

    margin: 10px;
    padding: 10px;

    display: flex;
    flex-direction: column;
    align-items: center;

    background-color:rgba(0, 0, 0, 0.7);

    border-radius: 10px;
}

.testimonial-single h1 {
    color: white;
    margin: 5px;
    text-align: center;
    font-size: 0.65cm;
}

.testimonial-single p {
    color: lightslategray;
    margin: 5px;
    margin-left: 1px;
    margin-right: 1px;
    text-align: center;
    font-size: 0.5cm;
}

.testimonial-single img {
    width: 80%;
    height: auto;

    border-radius: 10px;
}

/* Fonts */
@font-face {
    font-family: "Komika Axis";
    src: url("../fonts/Komika Axis.ttf");
}