body {
    display: flex;
    margin: 20px;
    margin-top: 1.75cm;
    border: 0px;
    padding: 0px;
}

/* Website Background */
.background {
    position: fixed;
    width: 100%;
    height: 100%;

    object-fit: cover;

    top: 0;
    left: 0;
    z-index: -100;
}

/* Website Header */
.header-bar {
    width: 100%;
    height: 1.5cm;

    margin: 0px;
    border: 0px;
    padding: 0.25cm;

    background-color: rgba(0, 0, 0, 0.9);
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;

    display: flex;
    justify-content: flex-start;
    align-items: center;

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;
}

.header-bar h1 {
    font-size: 0.75cm;
    margin: 0;
    padding: 0;
    padding-top:0px;
    color: white;
}

.header-bar p {
    font-size: 0.5cm;
    margin: 0;
    color: lightslategray;
}

.header-bar img {
    max-width: 50px;
    max-height: auto;
    border-radius: 50%;
}

.header-left {
    padding-right:10px;
}

.header-right {
    width: auto;
}

/* Content Layer 1 */
.top-section {
    width: 100%;
    height: auto;

    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* Centered Box with Content */
.centered-content-box {
    width: 85%;
    height: auto;

    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 20px;

    margin: 10px;
    margin-top:50px;
    margin-left: auto;
    margin-right: auto;

    background-color: rgba(0, 0, 0, 0.7);
}

.centered-content-box h1 {
    color: white;
    font-size: 1cm;
}

/* Fonts */
@font-face {
    font-family: "Komika Axis";
    src: url("../fonts/Komika Axis.ttf");
}